<div class="app">
    <button
        (click)="handleClick()">Change Name</button>
        <!-- [value]=name is the same as [ngModel]="name"-->
        <!-- Instead of (input)="handleChange($event)" using 
            (ngModelChange)="handleChange($event) binds the change to the ngModel"
            ngModel is taking a property binding
            ngModelChange is taking an event binding.
            This is technically one-way data binding which
            listens to a change via an event. And then we 
            rebind it. We can actually use a ngModel to create
            an implicit two-way data binding.
         -->
         <!--
             [(ngModel)]="name", here we have a property
             binding and inside of that we're listening to
             an event binding. So, under the hood Angular
             is essentially going to run all the [ngModel]="name"
             and (ngModelChange)="handleChange($event)" for you
         
             input1 is doing one-way data binding and listening for change
             input2 is doing two-way data binding.

             Ideally you would do two-way data binding for an 
             input only or text area for example, rather than 
             for just components itself because its much easier 
             to manage your data and the state of your component
             and a template by using one-way flow and event binding.
         -->

         <!--
             Template reference: allows us to create a reference
             to a particular DOM node accessible anywhere in our 
             template. 
          -->

          <!--
              Understanding the * in *ngIf: 
              Web components is an entirely new concept to the DOM. 
              Essentially, web  components has a specification where it
              has a <template> element.
              Angular basically sits on top of the web platform meaning,
              we can use things like shadow dom. So this template
              allows us to essentially create a particular template that
              Angular can then use to generate content from.

              What <div *ngIf="name.length > 2">Searching for ... {{name}}</div>
              is doing is really putting the div inside <template></template>. 
              The actual check is on the template itself, that is why you won't 
              see the ngIf in the DOM if you wanted to inspect element

              <template [ngIf]="name.length > 2">
                  <div>
                      Searching for... {{name}}
                  </div>
              </template>

              So, if you imagine the template is a webcomponent piece of html that
              could be used as a template elsewhere or it could be used multiple
              times and the * (aesterix) is just sugar syntax for not having to 
              type the word template yourself.

              Interesting this is that an *ngIf will actually destroy the DOM nodes
              and recreate it based on the expression.  
          -->

          <!--
              *ngFor also expands to a <template> element or a webcomponent:

              <template ngFor let-passenger let-i="index" [ngForOf]="passengers">
                  <li>
                      {{ i }}: {{ passenger.fullname }}
                  </li>
              </template>
          -->

          <!--
              Pipes: are functions that take input and produce output.
              The input has to be of the format/type the pipe expects.
              We can chain pipes. 
              e.g. checkDate | date: 'yMMMd' | uppercase 
          -->

          <!--
              Safe navigation operator.
              For an optional property, if that property doesn't exist we 
              can use the safe navigation operator to make sure that 
              Angular doesn't throw an error while its trying 
              to parse the template.

              We do this simply by adding a ? next to the optional 
              property in an expression: 

              Children: {{ passenger.children?.length }}
          -->

          <!-- Component arcitecture: 
              It is a good idea to understand the difference between a container
              and a presentational component. You may have heard of them as 
              stateful and stateless components or smart and dumb components. 

              It is a good idea in Angular to treat our components as containers
              and presentational components. 

              Lets assume a dom tree with component and child componets. Say we 
              added a service to this compoent (the parent or container component)
              to give it some real data from perhaps an api. This makes the component
              a smart component. The smart component which is the container component
              essentially contains all of the other components that do not know about 
              the data, however the smart component can pass the data down to the
              child components. So this is essentially the difference between a smart
              and a dumb component or a container and a presentational component. So,
              typically a container component can communicate with services and it also
              renders child components. A dumb or a presentational component receive
              data via an input and they emit data changes via event outputs. 
          -->

          <!-- One-way data flow in a component driven architecture:
              It is good to learn how the data should be flowing. So lets assume
              our service has just made an http request its gone off to our api 
              and we want to pass that down from our container component down 
              into the stateless children. We can pass data further
              down the dom tree to dumb components children.

              Lets assume that our components have now been rendered and the 
              user makes a change in one of the children dumb components, 
              e.g. typing in an input box. How do you get the change back up
              to our container component, so that it could update the service
              should it need to. We pass the data back up thorugh events. Angular has 
              event emitter built in. We don't use two-way data binding, we 
              use one-way data binding, which is essentially one way data flow
              and we use an event from the child component to tell a parent
              component that a change has occurred. Each dumb component passing
              the user change information up to container component emits an
              event to pass the data up. After this if anything needs to be
              re-rendered it data will flow down to its components again. 

              Data flows down, Events emit up.
          -->

          <!-- Modules:
              In our applications we want to create feature modules.
              We don't want everything to live on the root module because
              it will have lots of imports and it becomes hard to use 
              different modules across different applications. 

              So, the idea is all the logic for a particilar feature, e.g
              passenger dashboard, should live in its own module. This allows
              us to then take this module and paste it into another application
              and it should work without us needing to do anything else. 

              We would have a folder for the feature with its feature-name.module.ts
              file and subfolders called: components for reusable dumb/stateless 
              components, models for class interfaces and containers for 
              containers or smart components.
          -->

          <!-- View Encapsulation: 
              Styles are actually encapsulated to a component. 
          -->

          <!-- onInit Lifecycle Hook:
            A lifecycle hook is a function that gets called by Angular itself when
            something happens. 

            ngOnInit - is when the component is initialised. E.g. getting data 
            for the component dynamically. 
          -->

          <!-- How to pass data into a component:

          -->

          <!-- How to manipulate data in our local stateless components 
            When we make a change we notify the parent component.
            We have a one way dataflow from the parent component to the 
            child. When data changes on the child how do we notify 
            the parent component that something has changed?

            We emit an event on data change, eg. 
             <input type="text"
                    [value]="detail.fullname"
                    (input)="onNameChange(name.value)"
                    #name>
          
            We use something called EventEmitter and Output.

            @Input()
            detail: Passenger;

            @Output()
            remove: EventEmitter<any> = new EventEmitter();
          -->

          <!-- ngOnChanges life cycle hook
            onChanges is extremely important. 
            when you edit passenger fullname in the local component: passenger-detail
            you will see the changes in passenger.fullname on the parent. All the 
            changes are instantly been reflected. This is not strictly abiding
            by the rules of one-way data flow. The component should have its 
            own local state and when we click done, we should then update the
            parent data. This is where we can introduce something called ngOnChanges

            To use ngOnChanges in your stateless/dumb component:
                * import OnChanges from '@angular/core'
                * add to the component class definition implements onChanges
                * add a method ngOnChanges in your class

                ngOnChanges(changes) {
                    // gives us a changes object as parameter. At
                    // runtime we will be able to see this object
                    if (changes.detail) {
                        this.detail = Object.assign({}, changes.detail.currentValue);
                    }
                }

            What we can do to avoid updating our parent when we 
            start making the changes (editing) in the child component
            is use the onChanges lifecycle hook to break the binding 
            between the parent and the child component. This is not
            an issue related to Angular, this is how JS works in general.
            If you've created a variable before and tried to update it 
            elsewhere you'll noticce that the original source of that 
            variable will change. So this is exactly what is happening
            because Angular is giving us an array via reference rather
            than a value. So each time we change the value in our local
            component its actually changing that initial reference to 
            the object. 

            ngOnChanges gets called before ngOnInit. So that means that the binding and 
            the data is actually setup or available on ngOnChanges before the component
            is initialised. So this allows us to intercept the data binding and make 
            a clone of it and reassign it back to itself. Why do we do this? Because
            when you click on edit to edit passenger's name, you can start typing and
            the passenger name in the parent data won't instantly be updated. The parent
            data will be updated when you click done when the child emits the edit event. 
          
            In summary: we want one-way data flow with local state changes, when 
            something is ready to change in a child component, it fires an event
            to the parent, we merge those changes in and any other properties that
            rely on it when this change is available. 

            You can see how useful one-way data flow is, because we can make changes to
            things and they do not affect other components in the application until
            a specific point in time. 

            So, the data flows down and the events flow up. 
          -->

          <!-- Data Services and Dependency Injection
            * First thing we need to do is create our own service.
            * Then import { ServiceClassName } from './file-name' into your module
            * Add in the @NgModule decorator: 
            
            @NgModule({
                declarations: [],
                imports: [],
                exports: [], 
                providers: [ ServiceClassName ]
            })
            export class ModuleName {}

            In Angular a service is something we call a provider. This essentially
            tells our ngModule that we have these components and one of these 
            components may rely on this service, so make this service available 
            to any of the components. This is done through something called
            Dependency Injection. 

            Dependency Injection:

            constructor(private passengerService: PassengerDashboardService) {}
     
            This will allow us to inject the dependency into PassengerDashboardComponent
            and tell TypeScript that its a private method so we shouldn't be calling
            it publicly. 
            
            The interesting piece is how Angular looks up tokens. We need to 
            tell Angular what this passengerService is going to be. We've exported
            a member called PassengerDashboardService in our app so what we need to do 
            is import it into this component. Now we have a reference to
            this particular service in our component, then we register it 
            in the constructor.
            
            What Angular will do is use this token to  bind it automatically
            for you to an internal property called passengerService.

            Essentially all its doing is:

            constructor(private passengerService: PassengerDashboardService) {
                this.passengerService = passengerService;
            }
          -->

          <!-- Understanding @Injectable

          When we rely on a particular provider (service) such as the Http, ie,
          when we are using and external dependency, we need
          to import this thing called the Injectable from '@angular/core';


          This will tell Angular that it can inject things into its constructor. This
          allows us to use dependency injection into our other classes:

           import { Injectable } from '@angular/core';
           import { Http } from '@angular/http';

            @Injectable()
            export class PassengerDashboardService {
                constructor(private http: Http) {
                    // the dependency injection in constructor basically
                    // does this.http = http;

                    // With the @Injectable now we can access http in our service
                    console.log(this.http);
                }

                getPassengers(): Passenger[] {
                }
            } 
          -->

          <!-- Http data fetching with Observables

          // in our data service 
            import { Observable } from 'rxjs/Observable';
            import 'rxjs/add/operator/map';

            getPassengers(): Observable<Passenger[]> {
                return this.http
                    .get(PASSENGER_API)
                    .map((response: Response) => {
                        return response.json();
                    })
            }

            // In the component, get data when component is ready
                ngOnInit() {
                    this.passengerService
                        .getPassengers()
                        .subscribe((data: Passenger[]) => {
                            this.passengers = data;
                        });
                }

            Safe navigation operator: 
            In the <passenger-count> component which get passengers array and checks 
            its length, we need to use safe navigation so Angular will wait for that
            property to be available, once it becones available, the change detection
            will fire, input will get rebound and the properties will display in the
            browser:

            <div>
                Total passengers: {{ checkedInCount() }} / {{ items?.length }}
            </div>
          -->

          <!-- Custom Headers and RequestOptions
            let headers = new Headers({
                'Content-Type': 'application/json'
            });

            let options = new RequestOptions({
                headers: headers
            });
          -->

          <!-- How to use Observables with error handling.  

            import 'rxjs/add/operator/catch';
            import 'rxjs/add/observable/throw';

            getPassengers(): Observable<Passenger[]> {
                return this.http
                    .get(PASSENGER_API)
                    .map((response: Response) => {
                        return response.json();
                    })
                    .catch((error: any) => Observable.throw(error.json()));
            }

            ngOnInit() {
                this.passengerService
                    .getPassengers()
                    .subscribe((data: Passenger[]) => {
                        this.passengers = data;
                    }, 
                    (error) => {
                        console.log('error', error);
                    });
            }
          -->


    <!-- One-way binding example with explicit implementation of two-way binding-->
    <input 
        type="text"
        [ngModel]="name"
        (ngModelChange)="handleChange($event)">

    <!-- Two-way binding example -->
    <input
        type="text"
        [(ngModel)]="name">

    <div>{{ name }}</div>

    <!-- Template ref or template reference example --> 
    <div>
        <button (click)="handleClickTemplateRef(username.value)">Get Value (using template ref)</button>
    
        <!-- #username tells Angular that I want to setup a ref -->
        <input type="text" #username>
        <div>{{ username.value }}</div>
    </div>

    <!-- ng directives example -->
    <div>
        <input type="text"
            [value]="name2"
            (input)="handleChangeNoDataBinding($event.target.value)">

        <div *ngIf="name2.length > 2">
            Searching for... {{ name2 }}
        </div>
    </div>

    <!-- List of passengers -->
    <!--[class.classname]="condition"-->
    <div>
        <h3>Airline Passengers</h3>
        <ul>
            <li *ngFor="let passenger of passengers; let i = index">
                <span class="status"
                    [class.checked-in]="passenger.checkedIn"></span>
                {{ i }}: {{ passenger.fullname }}
                <div class="date">
                    Check in date: 
                    {{ passenger.checkInDate ? (passenger.checkInDate | date: 'yMMMMd' | uppercase) : 'Not checked in.'  }}
                </div>
                <div class="children">
                    Children: {{ passenger.children?.length }}
                </div>
            </li>
        </ul>
        <!-- [ngClass] -->
        <h3>Airline Passengers</h3>
        <ul>
            <template ngFor let-passenger let-i="index" [ngForOf]="passengers">
                  <li>
                      <span class="status"
                        [ngClass]="{
                            'checked-in': passenger.checkedIn,
                            'checked-out': !passenger.checkedIn
                        }"></span>
                      {{ i }}: {{ passenger.fullname }}
                  </li>
              </template>
        </ul>
        <!-- [style.stylePropertyName]="value"--> 
        <h3>Airline Passengers</h3>
        <ul>
            <li *ngFor="let passenger of passengers; let i = index">
                <span class="status"
                    [style.backgroundColor]="passenger.checkedIn ? '#2ecc71' : '#c0392b'"></span>
                {{ i }}: {{ passenger.fullname }}
            </li>
        </ul>
    </div>
</div>